<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Tool EZ - {{pageTitle}}</title>
  </head>
  <body>
    <div class="welcome-hero title is-2" style="color: darkgreen;">
      <p>Welcome to Tool EZ, where we have what you need!</p>
    </div>

    <div class="login-message">
      <p class="">Please login to get started</p>
    </div>

    <div class="login-node">
      <label class="label" style="color: darkgreen;" for="email">Email</label>
      <input type="text" id="email" name="Email" />

      <label
        class="label"
        style="color: darkgreen; padding-top: 10px"
        for="password"
      >Password</label>
      <input type="password" id="password" name="password" />

      <button
        class="button is-link is-medium is-rounded"
        style="display:block; margin-top: 15px"
        id="login-button"
      >Login</button>
      {{! <button class="forgot">Need help logging in?</button> }}
    </div>

    <script src="/js/login.js"></script>
  </body>
</html>