<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <h1>My Profile</h1>
        <p>
            {{User}}
        </p>
        <nav>
         <link rel="directory" href="./toolDirectory.handlebars">
        </nav>
    </div>
</body>
</html>