<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tool EZ - {{pageTitle}}</title>
  </head>
  <body>
    <header>
      <h1> Tool EZ </h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/available">Checkout Tools</a>
    </nav>
    <main class="container">
      {{profile}}
      {{toolDirectory}}
    </main>
  </body>
</html>